{% extends '_base.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}{% trans 'Case List' %}{% endblock %}


{% block content %}

    <div class="shop-page-wrapper ptb--80">
        <div class="container">
            <div class="row">

                <!-- Case List >>> main content -->
                <div class="col-xl-9 col-lg-8 order-lg-2  mb-md--50">

                    <!-- Case List >>> main -->
                    <div class="shop-products">
                        <div class="row">

                            {% for case in cases %}
                                {% if case.status == 'a' or case.status == 's' %}
                                    <div class="col-xl-4 col-sm-6 mb--80">
                                    <div class="ft-product" style="border: #e8e8e8 solid 1px; padding: 8px; border-radius: 4px;">
                                        <div class="product-inner">

                                            <!-- case cover -->
                                            <div class="product-image">
                                                <figure class="product-image--holder">
                                                    <img src="{{ case.cover.url }}" alt="Product">
                                                </figure>
                                                <a href="{{ case.get_absolute_url }}" class="product-overlay"></a>

                                            </div>
                                            <!-- end: case cover -->

                                            <!-- case information -->
                                            <div class="product-info">
                                                <div class="product-category" style="margin-bottom: 1.5em;!important;">

                                                    <a href="{{ case.get_absolute_url }}"><h4 class="file-title">{{ case.title|linebreaksbr|farsi_number }}</h4></a>
                                                    <h5 style="color: black;!important;">کد پروژه: {{ case.code }}</h5>
                                                    <h5 style="color: black;!important;">{{ case.province }} - {{ case.city }} - {{ case.district }}</h5>
                                                    <h5 style="color: black;!important;">ضمانت خرید: {{ case.get_buy_assurance_display }}</h5>
                                                    <h5 style="color: black;!important;">سود تضمینی: {{ case.get_guaranteed_gain_display }} - {{ case.guaranteed_gain_percent }} درصد</h5>
                                                    <h5 style="color: black;!important;">تاریخ اتمام: {{ case.end_time }}</h5>
                                                    <h5 style="color: black;!important;">وضعیت پروژه: {{ case.get_status_display }}</h5>
                                                </div>

                                                <div class="product-category" style="margin-bottom: 1.5em;!important;">
                                                    <div class="product-price-wrapper">
                                                        <span class="money" style="font-size: 0.85em; font-weight: normal;">سازنده: {{ case.maker|intcomma:False }}</span>
                                                    </div>
                                                    <div class="product-price-wrapper">
                                                        <span class="money" style="font-size: 0.85em; font-weight: normal;">ظرفیت: {{ case.capacity|intcomma:False|farsi_number }} متر</span>
                                                    </div>
                                                    <div class="product-price-wrapper">
                                                        <span class="money" style="font-size: 0.85em; font-weight: normal;">قیمت هر متر: {{ case.metric_price|intcomma:False|farsi_number }} تومان</span>
                                                    </div>
                                                </div>

                                                <div class="product-info-bottom" style="justify-content: left;">
                                                    <div class="product-price-wrapper">
                                                        <a href="{{ case.get_absolute_url }}" class="btn btn-outline btn-brw-2" data-animation="fadeInUp" data-duration=".3s" data-delay=".6s" style="line-height: 0.1em; font-weight: normal; float: left;">{% trans 'Read More' %}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end: file information -->
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                    <!-- end: Case List >>> main -->

                    <!-- Case List >>> pagination -->
                    <div class="my-pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; {% trans 'First' %}</a>
                        {% else %}
                            <span class="my-disabled">&laquo; {% trans 'First' %}</span>
                        {% endif %}

                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">‹ {% trans 'Previous' %}</a>
                        {% else %}
                            <span class="my-disabled">‹ {% trans 'Previous' %}</span>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if num == page_obj.number %}
                                <span class="my-current">{{ num }}</span>
                            {% else %}
                                <a href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %} ›</a>
                        {% else %}
                            <span class="my-disabled">{% trans 'Next' %} ›</span>
                        {% endif %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'Last Page' %} &raquo;</a>
                        {% else %}
                            <span class="my-disabled">{% trans 'Last Page' %} &raquo;</span>
                        {% endif %}
                    </div>
                    <!-- end: Case List >>> pagination -->

                </div>
                <!-- end: Case List >>> main content -->

                <!-- Case list >>> sidebar -->
                <div class="col-xl-3 col-lg-4 order-lg-1">
                    <aside class="shop-sidebar">
                        <div class="col-lg-12">
                            <div class="checkout-form">

                                <form id="filter-form" method="get" action="{% url 'case_list' %}" enctype="multipart/form-data" class="form form--checkout">
                                    {% csrf_token %}

                                    <!-- Province -->
                                    <div class="row mb--10">
                                        <div class="form__group col-12">
                                            <label for="{{ filter_form.province.id_for_label }}" class="form__label">{% trans 'Province: ' %}</label>
                                            {% render_field filter_form.province type="text" id="province" class="form__input" onchange="updateCities(this.value)" %}
                                        </div>
                                    </div>

                                    <!-- City -->
                                    <div class="row mb--10">
                                        <div class="form__group col-12">
                                            <label for="{{ filter_form.city.id_for_label }}" class="form__label">{% trans 'City: ' %}</label>
                                            {% render_field filter_form.city type="text" id="city" class="form__input" onchange="updateDistricts(this.value)" %}
                                        </div>
                                    </div>

                                    <!-- District -->
                                    <div class="row mb--10">
                                        <div class="form__group col-12">
                                            <label for="{{ filter_form.district.id_for_label }}" class="form__label">{% trans 'District: ' %}</label>
                                            {% render_field filter_form.district type="text" id="district" class="form__input" %}
                                        </div>
                                    </div>

                                    <!-- Min Metric Price -->
                                    <div class="row mb--10">
                                        <div class="form__group col-12">
                                            <label for="{{ filter_form.min_metric_price.id_for_label }}" class="form__label">{% trans 'Min Metric Price: ' %}</label>
                                            {% render_field filter_form.min_metric_price type="number" id="min_metric_price" class="form__input" %}
                                        </div>
                                        {% if filter_form.min_metric_price.errors %}
                                            <span style="font-weight: normal; font-size: small; color: red;">{{ filter_form.min_metric_price.errors }}</span>
                                        {% endif %}
                                    </div>

                                    <!-- Max Metric Price -->
                                    <div class="row mb--10">
                                        <div class="form__group col-12">
                                            <label for="{{ filter_form.max_metric_price.id_for_label }}" class="form__label">{% trans 'Max Metric Price: ' %}</label>
                                            {% render_field filter_form.max_metric_price type="number" id="max_metric_price" class="form__input" %}
                                        </div>
                                        {% if filter_form.max_metric_price.errors %}
                                            <span style="font-weight: normal; font-size: small; color: red;">{{ filter_form.max_metric_price.errors }}</span>
                                        {% endif %}
                                    </div>


                                    <!-- Buy Assurance -->
                                    <div class="row mb--10">
                                        <div class="form__group col-12">
                                            <label for="{{ filter_form.buy_assurance.id_for_label }}" class="form__label">{% trans 'Buy Assurance: ' %}</label>
                                            {% render_field filter_form.buy_assurance type="text" id="buy_assurance" class="form__input" %}
                                        </div>
                                    </div>

                                    <!-- Guaranteed Gain -->
                                    <div class="row mb--10">
                                        <div class="form__group col-12">
                                            <label for="{{ filter_form.guaranteed_gain.id_for_label }}" class="form__label">{% trans 'Guaranteed Gain: ' %}</label>
                                            {% render_field filter_form.guaranteed_gain type="text" id="guaranteed_gain" class="form__input" %}
                                        </div>
                                    </div>

                                    <!-- Submit -->
                                    <div class="col-span-2 flex justify-end" style="margin-top: 1.5em;">
                                        <button style="padding: 1em 2.5em; width: 100%; line-height: 0.7em; font-weight: normal; float: left;" onclick="submitFormAndRefresh()" type="submit" class="btn btn-outline btn-brw-2">{% trans 'Do Filter' %}</button>
                                    </div>
                                </form>

                                <!-- JS for filter Form -->
                                <script>
                                    function submitFormAndRefresh() {
                                        document.getElementById('filter-form').submit();
                                        location.reload();
                                    }
                                </script>

                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        const province = document.getElementById('province').value;
                                        const city = document.getElementById('city').value;

                                        if (province) {
                                            updateCities(province);
                                        }
                                        if (city) {
                                            updateDistricts(city);
                                        }
                                    });

                                    function updateCities(provinceId) {
                                        const url = `/get_case_cities/?province_id=${provinceId}`;
                                        fetch(url)
                                            .then(response => response.json())
                                            .then(data => {
                                                const citySelect = document.getElementById('city');
                                                citySelect.innerHTML = '<option value="">Select City</option>';
                                                data.cities.forEach(city => {
                                                    citySelect.innerHTML += `<option value="${city.id}">${city.name}</option>`;
                                                });

                                                const selectedCity = '{{ request.GET.city }}';
                                                if (selectedCity) {
                                                    citySelect.value = selectedCity;
                                                }
                                            });
                                    }

                                    function updateDistricts(cityId) {
                                        const url = `/get_case_districts/?city_id=${cityId}`;
                                        fetch(url)
                                            .then(response => response.json())
                                            .then(data => {
                                                const districtSelect = document.getElementById('district');
                                                districtSelect.innerHTML = '<option value="">Select District</option>';
                                                data.districts.forEach(district => {
                                                    districtSelect.innerHTML += `<option value="${district.id}">${district.name}</option>`;
                                                });

                                                const selectedDistrict = '{{ request.GET.district }}';
                                                if (selectedDistrict) {
                                                    districtSelect.value = selectedDistrict;
                                                }
                                            });
                                    }

                                    function submitFormAndRefresh() {
                                        document.getElementById('filter-form').submit();
                                        location.reload();
                                    }
                                </script>
                                <!-- end: JS for filter Form -->

                            </div>
                        </div>
                    </aside>
                </div>
                <!-- end: Case list >>> sidebar -->

            </div>
        </div>
    </div>

{% endblock %}



