{% extends '_base_services.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load widget_tweaks %}


{% block title %}{% trans 'File' %}{% endblock %}

{% block content %}

    <main class="flex-grow bg-secondary-light pb-14 pt-36 dark:bg-primary-dark xs:pt-36" style="background-color: transparent">
        <div class="container pb-14">
            <div class="grid grid-cols-12 gap-2 lg:gap-6">

                <!-- top ribbon  -->
                <div class="col-span-12 rounded-lg bg-primary-light dark:bg-secondary-dark">
                    <ol class="grid grid-cols-2 overflow-hidden rounded-lg">
                        <li class="flex flex-col items-center justify-center gap-2 bg-tertiary-500/10 p-4 text-xs text-tertiary-500 dark:bg-tertiary-400/10 dark:text-tertiary-400 sm:text-sm md:text-base" style="background-color: #00A65C;">
                            <p class="leading-none" style="font-size: 1.3em; color: #fefeff; font-weight: bold">{% trans 'ثبت آگهی' %}</p>
                        </li>
                        <li class="flex flex-col items-center justify-center gap-2 p-4 text-xs text-tertiary-500 opacity-50 dark:text-tertiary-400 sm:text-sm md:text-base" style="background-color: #fefeff">
                            <p class="leading-none" style="font-size: 1.3em; color: #00a65c; font-weight: bold">{% trans 'جزئیات آگهی' %}</p>
                        </li>
                  </ol>
                </div>
                <!-- end: top ribbon -->

                <!-- main create file  -->
                <div class="col-span-12 md:col-span-12">
                    <div class="rounded-lg bg-primary-light p-4 dark:bg-secondary-dark">

                        <div class="col-span-5 md:col-span-3">
                            <div class="grid grid-cols-1 items-center gap-6 mt-2">

                                <!-- Create file -->
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="submit" value="Submit">
                                </form>

                                <script>
                                $(document).ready(function() {
                                    $('#district').hide(); // Hide district field initially

                                    $('#province').change(function() {
                                        var provinceId = $(this).val();
                                        $.ajax({
                                            url: '/load_cities/',
                                            data: {
                                                'province': provinceId
                                            },
                                            success: function(data) {
                                                $('#city').html('');
                                                $('#district').hide(); // Hide district field when changing province
                                                $.each(data.cities, function(index, city) {
                                                    $('#city').append(`<option value="${city[0]}">${city[1]}</option>`);
                                                });
                                                $('#city').trigger('change'); // Trigger change event on city select
                                            }
                                        });
                                    });

                                    $('#city').change(function() {
                                        var cityId = $(this).val();
                                        $.ajax({
                                            url: '/load_districts/',
                                            data: {
                                                'city': cityId
                                            },
                                            success: function(data) {
                                                $('#district').html('');
                                                if (data.districts.length > 0) {
                                                    $('#district').show(); // Show district field only if there are districts
                                                    $.each(data.districts, function(index, district) {
                                                        $('#district').append(`<option value="${district[0]}">${district[1]}</option>`);
                                                    });
                                                } else {
                                                    $('#district').hide(); // Hide district field if there are no districts
                                                }
                                            }
                                        });
                                    });
                                });
                                </script>
                                <!-- end: Create file --> -->

                            </div>
                        </div>

                    </div>
                </div>
                <!-- end: main create file  -->

            </div>
        </div>
    </main>

{% endblock %}


