{% extends '_base_profile.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load humanize %}
{% load shamsi_date %}
{% load number_converter %}
{% load widget_tweaks %}

{% block title %}{% trans 'Tasks List - Counseling' %}{% endblock %}


{% block content %}

    <div class="nk-block">
        <div class="card card-bordered">
            <div class="card-aside-wrap">
                <div class="card-inner card-inner-lg">

                    <!-- Title -->
                    <div class="nk-block-head nk-block-head-lg">
                        <div class="nk-block-between" style="justify-items: center; justify-content: center; text-align: center">
                            <div class="nk-block-head-content">
                                <h4 class="nk-block-title">{% trans 'Tasks List' %}</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end: Title -->

                    <!-- Items -->
                    <div class="nk-block">
                        <div class="nk-data data-list">

                            <!-- Task category links -->
                            <div class="row">
                                <!-- Counseling card -->
                                <div class="col-6 col-md-4 col-lg-6 col-xl-3 has-xxl-5 mb-3 mb-lg-4">
                                    <a href="{% url 'agent_task_list_counseling' %}">
                                        <figure class="p-2 rounded-6 shadow-dark-80 bg-white mb-0 h-100 border border-gray-200" style="box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51, 51, 51) 0 0 0 3px;">
                                            <figcaption class="text-center">
                                                <img src="/static/profile/agents/tasks/folder45.png" alt="Word">
                                                <h6 class="font-weight-semibold open-sans-font mt-3 text-center" style="margin-bottom: 1.5em;">{% trans 'Counselings' %}</h6>
                                                <span class="text-gray-600 fs-11 lh-base" style="font-size: 0.9em; color: #373737;">ارائه مشاوره به مشتریان</span>
                                            </figcaption>
                                         </figure>
                                    </a>
                                </div>

                                <!-- Session card -->
                                <div class="col-6 col-md-4 col-lg-6 col-xl-3 has-xxl-5 mb-3 mb-lg-4">
                                    <a href="{% url 'agent_task_list_session' %}">
                                        <figure class="p-2 rounded-6 shadow-dark-80 bg-white mb-0 h-100 border border-gray-200">
                                            <figcaption class="text-center">
                                                <img src="/static/profile/agents/tasks/folder45.png" alt="Word">
                                                <h6 class="font-weight-semibold open-sans-font mt-3 text-center" style="margin-bottom: 1.5em;">{% trans 'Sessions' %}</h6>
                                                <span class="text-gray-600 fs-11 lh-base" style="font-size: 0.9em; color: #373737;">همراهی مشتریان در نشست</span>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>

                                <!-- Visit card -->
                                <div class="col-6 col-md-4 col-lg-6 col-xl-3 has-xxl-5 mb-3 mb-lg-4">
                                    <a href="{% url 'agent_task_list_visit' %}">
                                        <figure class="p-2 rounded-6 shadow-dark-80 bg-white mb-0 h-100 border border-gray-200">
                                            <figcaption class="text-center">
                                                <img src="/static/profile/agents/tasks/folder45.png" alt="Word">
                                                <h6 class="font-weight-semibold open-sans-font mt-3 text-center" style="margin-bottom: 1.5em;">{% trans 'Visits' %}</h6>
                                                <span class="text-gray-600 fs-11 lh-base" style="font-size: 0.9em; color: #373737;">همراهی مشتریان در بازدید</span>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>

                                <!-- TradeSession card -->
                                <div class="col-6 col-md-4 col-lg-6 col-xl-3 has-xxl-5 mb-3 mb-lg-4">
                                    <a href="{% url 'agent_task_list_trade_session' %}">
                                        <figure class="p-2 rounded-6 shadow-dark-80 bg-white mb-0 h-100 border border-gray-200">
                                            <figcaption class="text-center">
                                                <img src="/static/profile/agents/tasks/folder45.png" alt="Word">
                                                <h6 class="font-weight-semibold open-sans-font mt-3 text-center" style="margin-bottom: 1.5em;">{% trans 'TradeSessions' %}</h6>
                                                <span class="text-gray-600 fs-11 lh-base" style="font-size: 0.9em; color: #373737;">کارشناس حین معامله</span>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>

                            <!-- Tasks -->
                            <div class="row">
                                {% for task in tasks %}
                                    <div class="col-12 col-xxl-6 mt-5 mb-4">
                                        <div class="card rounded-24 shadow-dark-80 border border-gray-50 py-3 px-2 p-md-4">

                                            <div class="p-2">

                                                <!-- Datetime & Code -->
                                                <div class="align-items-center mb-4">
                                                    <span class="small text-muted font-weight-semibold">{{ task.datetime_created|shamsi_date }}</span>
                                                    <span class="small text-muted font-weight-semibold" style="float: left;!important;">کد: {{ task.code }}</span>
                                                </div>

                                                <!-- Title -->
                                                <div style="height: 4.5em; -webkit-line-clamp: 2;">
                                                    <!-- Services title -->
                                                    {% if task.type == 'vis' %}
                                                        <a href="{{ task.get_absolute_url }}"><h6 style="line-height: 1.5em;!important;" class="font-weight-semibold title-box">
                                                            {{ task.get_type_display }} {% trans 'in' %} {{ task.task_visit.get_city_display }} - {{ task.task_visit.district }} | {{ task.task_visit.get_date_display }} | {{ task.task_visit.get_time_display }}
                                                        </h6></a>
                                                    {% elif task.type == 'ses' %}
                                                        <a href="{{ task.get_absolute_url }}"><h6 style="line-height: 1.5em;!important;" class="font-weight-semibold title-box">
                                                            {{ task.get_type_display }} {% trans 'in' %} {{ task.task_session.get_city_display }} - {{ task.task_session.district }} | {{ task.task_session.get_date_display }} | {{ task.task_session.get_time_display }}
                                                        </h6></a>
                                                    {% elif task.type == 'cns' %}
                                                        {% if task.task_counseling.counseling_type == 'ip' %}
                                                            <a href="{{ task.get_absolute_url }}"><h6 style="line-height: 1.5em;!important;" class="font-weight-semibold title-box">
                                                                {{ task.get_type_display }} {{ task.task_counseling.get_counseling_type_display }} {% trans 'in hombaba (tehran)' %} | {{ task.task_counseling.get_date_display }} | {{ task.task_counseling.get_time_display }}
                                                            </h6></a>
                                                        {% else %}
                                                            <a href="{{ task.get_absolute_url }}"><h6 style="line-height: 1.5em;!important;" class="font-weight-semibold title-box">
                                                                {{ task.get_type_display }} {{ task.task_counseling.get_counseling_type_display }} | {{ task.task_counseling.get_date_display }} | {{ task.task_counseling.get_time_display }}
                                                            </h6></a>
                                                        {% endif %}
                                                    <!-- trade session title -->
                                                    {% elif task.type == 'tds' %}
                                                        {% if task.task_trade_session.location == 'ours' %}
                                                            <a href="{{ task.get_absolute_url }}"><h6 style="line-height: 1.5em;!important;" class="font-weight-semibold title-box">
                                                                {{ task.get_type_display }} {% trans 'in hombaba (tehran)' %} | {{ task.task_trade_session.get_date_display }} | {{ task.task_trade_session.get_time_display }}
                                                            </h6></a>
                                                        {% else %}
                                                            <a href="{{ task.get_absolute_url }}"><h6 style="line-height: 1.5em;!important;" class="font-weight-semibold title-box">
                                                                {{ task.get_type_display }} {% trans 'in' %} {{ task.task_trade_session.get_city_display }} - {{ task.task_trade_session.district }}  | {{ task.task_trade_session.get_date_display }} | {{ task.task_trade_session.get_time_display }}
                                                            </h6></a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>

                                                <!-- Pricing -->
                                                <div style="margin: 1.2em 0;">
                                                    <!-- Counseling -->
                                                    {% if task.type == 'cns' %}
                                                        <h6 class="font-weight-semibold title-box">{% trans 'Total price: ' %}</h6>
                                                        <p>{{ task.task_counseling.price|intcomma:False|farsi_number }} {% trans 'Tooman' %}</p>
                                                    <!-- Counseling -->
                                                    {% elif task.type == 'ses' %}
                                                        <h6 class="font-weight-semibold title-box">{% trans 'Total price: ' %}</h6>
                                                        <p>{{ task.task_session.price|intcomma:False|farsi_number }} {% trans 'Tooman' %}</p>
                                                    <!-- Visit -->
                                                    {% elif task.type == 'vis' %}
                                                        <h6 class="font-weight-semibold title-box">{% trans 'Total price: ' %}</h6>
                                                        <p>{{ task.task_visit.price|intcomma:False|farsi_number }} {% trans 'Tooman' %}</p>
                                                    <!-- TS -->
                                                    {% elif task.type == 'tds' %}
                                                        <h6 class="font-weight-semibold title-box">{% trans 'Total price: ' %}</h6>
                                                        <p>0/25 درصد مبلغ معامله</p>
                                                    {% endif %}
                                                </div>

                                                <!-- Request status -->
                                                <div class="pt-4 pb-4">
                                                    {% if task.is_requested == 'fre' %}
                                                        <span class="small font-weight-semibold mb-2 d-block">{{ task.get_is_requested_display }} - گام 1 از 3</span>
                                                        <div class="progress rounded-pill" style="height: 5px;width: 100%;">
                                                            <div class="progress-bar bg-teal-500" role="progressbar" style="width: 33%; background-color: #00A65C;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    {% elif task.is_requested == 'pen' %}
                                                        <span class="small font-weight-semibold mb-2 d-block">{{ task.get_is_requested_display }} - گام 2 از 3</span>
                                                        <div class="progress rounded-pill" style="height: 5px;width: 100%;">
                                                            <div class="progress-bar bg-teal-500" role="progressbar" style="width: 66%; background-color: #FFA726;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    {% elif task.is_requested == 'tkn' %}
                                                        <span class="small font-weight-semibold mb-2 d-block">{{ task.get_is_requested_display }} - گام 3 از 3</span>
                                                        <div class="progress rounded-pill" style="height: 5px;width: 100%;">
                                                            <div class="progress-bar bg-teal-500" role="progressbar" style="width: 99%; background-color: grey" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <!-- Button -->
                                                <div class="d-flex align-items-center" style="margin-top: 20px; float: left">
                                                    {% if task.is_requested == 'tkn' %}
                                                        <a href="{{ task.get_absolute_url }}" class="btn btn-primary" style="padding: 5px 45px; line-height: 2.5em;!important; background-color: grey; border:none;">
                                                            <span>{% trans 'More' %}</span>
                                                        </a>
                                                    {% elif task.is_requested == 'pen' %}
                                                        <a href="{{ task.get_absolute_url }}" class="btn btn-primary" style="padding: 5px 45px; line-height: 2.5em;!important; background-color: #FFA726; border:none;">
                                                            <span>{% trans 'More' %}</span>
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ task.get_absolute_url }}" class="btn btn-primary" style="padding: 5px 45px; line-height: 2.5em;!important;"><span>{% trans 'More' %}</span></a>
                                                    {% endif %}
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <!-- end: Items -->

                    <!-- Pagination -->
                    <div class="nk-block-head nk-block-head-lg">
                        <div class="nk-block-between" style="justify-items: center; justify-content: center; text-align: center">
                            <div class="nk-block-head-content">
                                <div class="my-profile-pagination" style="margin-top: 1em;">
                                    {% if page_obj.has_previous %}
                                        <a href="{% url 'agent_task_list' %}?page=1">&laquo; {% trans 'First' %}</a>
                                    {% else %}
                                        <span class="my-profile-disabled">&laquo; {% trans 'First' %}</span>
                                    {% endif %}

                                    {% if page_obj.has_previous %}
                                        <a href="{% url 'agent_task_list' %}?page={{ page_obj.previous_page_number }}">‹ {% trans 'Previous' %}</a>
                                    {% else %}
                                        <span class="my-profile-disabled">‹ {% trans 'Previous' %}</span>
                                    {% endif %}

                                    {% for num in page_obj.paginator.page_range %}
                                        {% if num == page_obj.number %}
                                            <span class="my-profile-current">{{ num }}</span>
                                        {% else %}
                                            <a href="{% url 'agent_task_list' %}?page={{ num }}">{{ num }}</a>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                        <a href="{% url 'agent_task_list' %}?page={{ page_obj.next_page_number }}">{% trans 'Next' %} ›</a>
                                    {% else %}
                                        <span class="my-profile-disabled">{% trans 'Next' %} ›</span>
                                    {% endif %}

                                    {% if page_obj.has_next %}
                                        <a href="{% url 'agent_task_list' %}?page={{ page_obj.paginator.num_pages }}">{% trans 'Last Page' %} &raquo;</a>
                                    {% else %}
                                        <span class="my-profile-disabled">{% trans 'Last Page' %} &raquo;</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Pagination -->

                </div>
            </div>
        </div>
    </div>

{% endblock %}


