{% extends '_base_profile.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load humanize %}
{% load shamsi_date %}
{% load number_converter %}
{% load widget_tweaks %}

{% block title %}{% trans 'Tasks Detail' %} - {{ task.code }}{% endblock %}

{% block sidebar_content %}

    <li class="nk-menu-item has-sub">
        <a href="{% url 'agent_profile_info_now' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-tile-thumb"></em></span>
            <span class="nk-menu-text">{% trans 'Personal Information' %}</span>
        </a>
    </li>

    <li class="nk-menu-item has-sub">
        <a href="#" class="nk-menu-link nk-menu-toggle">
            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
            <span class="nk-menu-text">{% trans 'Tasks List' %}</span>
        </a>
        <ul class="nk-menu-sub">
            <li class="nk-menu-item">
                <a href="{% url 'task_list' %}" class="nk-menu-link"><span class="nk-menu-text">{% trans 'All Tasks' %}</span></a>
            </li>
            <li class="nk-menu-item">
                <a href="{% url 'task_list' %}" class="nk-menu-link"><span class="nk-menu-text">{% trans 'All Tasks' %}</span></a>
            </li>
            <li class="nk-menu-item">
                <a href="{% url 'task_list' %}" class="nk-menu-link"><span class="nk-menu-text">{% trans 'All Tasks' %}</span></a>
            </li>
            <li class="nk-menu-item">
                <a href="{% url 'task_list' %}" class="nk-menu-link"><span class="nk-menu-text">{% trans 'All Tasks' %}</span></a>
            </li>
        </ul>
    </li>

{% endblock %}

{% block content %}

    <div class="nk-block">
        <div class="card card-bordered">
            <div class="card-aside-wrap">
                <div class="card-inner card-inner-lg">

                    <!-- Items -->
                    <div class="nk-block">
                        <div class="nk-data data-list">

                            <!-- Tasks -->
                            <div class="row">
                                <div class="col-12 col-xxl-12 mt-5 mb-4">
                                    <div class="card rounded-24 shadow-dark-80 border border-gray-50 py-3 px-2 p-md-4">
                                        <div class="p-2">

                                            <!-- Datetime & Code -->
                                            <div class="align-items-center mb-4">
                                                <span class="small text-muted font-weight-semibold">{{ task.datetime_created|shamsi_date }}</span>
                                                <span class="small text-muted font-weight-semibold" style="float: left;!important;">کد: {{ task.code }}</span>
                                            </div>

                                            <!-- Title -->
                                            <div style="height: 4.5em; -webkit-line-clamp: 2;">
                                                <!-- Services title -->
                                                {% if task.type == 'vis' %}
                                                    <h6 style="line-height: 1.5em;!important;" class="font-weight-semibold title-box">
                                                        {{ task.get_type_display }} {% trans 'in' %} {{ task.task_visit.get_city_display }} - {{ task.task_visit.district }} | {{ task.task_visit.get_date_display }} | {{ task.task_visit.get_time_display }}
                                                    </h6>
                                                {% elif task.type == 'ses' %}
                                                    <h6 style="line-height: 1.5em;!important;" class="font-weight-semibold title-box">
                                                        {{ task.get_type_display }} {% trans 'in' %} {{ task.task_session.get_city_display }} - {{ task.task_session.district }} | {{ task.task_session.get_date_display }} | {{ task.task_session.get_time_display }}
                                                    </h6>
                                                {% elif task.type == 'cns' %}
                                                    {% if task.task_counseling.counseling_type == 'ip' %}
                                                        <h6 style="line-height: 1.5em;!important;" class="font-weight-semibold title-box">
                                                            {{ task.get_type_display }} {{ task.task_counseling.get_counseling_type_display }} {% trans 'in hombaba (tehran)' %} | {{ task.task_counseling.get_date_display }} | {{ task.task_counseling.get_time_display }}
                                                        </h6>
                                                    {% else %}
                                                        <h6 style="line-height: 1.5em;!important;" class="font-weight-semibold title-box">
                                                            {{ task.get_type_display }} {{ task.task_counseling.get_counseling_type_display }} | {{ task.task_counseling.get_date_display }} | {{ task.task_counseling.get_time_display }}
                                                        </h6>
                                                    {% endif %}
                                                <!-- trade session title -->
                                                {% elif task.type == 'tds' %}
                                                    {% if task.task_trade_session.location == 'ours' %}
                                                        <h6 style="line-height: 1.5em;!important;" class="font-weight-semibold title-box">
                                                            {{ task.get_type_display }} {% trans 'in hombaba (tehran)' %} | {{ task.task_trade_session.get_date_display }} | {{ task.task_trade_session.get_time_display }}
                                                        </h6>
                                                    {% else %}
                                                        <h6 style="line-height: 1.5em;!important;" class="font-weight-semibold title-box">
                                                            {{ task.get_type_display }} {% trans 'in' %} {{ task.task_trade_session.get_city_display }} - {{ task.task_trade_session.district }}  | {{ task.task_trade_session.get_date_display }} | {{ task.task_trade_session.get_time_display }}
                                                        </h6>
                                                    {% endif %}
                                                {% endif %}
                                            </div>

                                            <!-- Pricing -->
                                            <div style="margin: 1.2em 0;">
                                                <!-- Counseling -->
                                                {% if task.type == 'cns' %}
                                                    <h6 class="font-weight-semibold title-box">{% trans 'Total price: ' %}</h6>
                                                    <p>{{ task.task_counseling.price|intcomma:False|farsi_number }} {% trans 'Tooman' %} - (برای 30 دقیقه مشاوره)</p>
                                                <!-- Counseling -->
                                                {% elif task.type == 'ses' %}
                                                    <h6 class="font-weight-semibold title-box">{% trans 'Total price: ' %}</h6>
                                                    <p>{{ task.task_session.price|intcomma:False|farsi_number }} {% trans 'Tooman' %} - برای حضور از آغاز تا پایان نشست در کنار مشتری (صرف نظر از انجام یا عدم انجام معامله)</p>
                                                <!-- Visit -->
                                                {% elif task.type == 'vis' %}
                                                    <h6 class="font-weight-semibold title-box">{% trans 'Total price: ' %}</h6>
                                                    <p>{{ task.task_visit.price|intcomma:False|farsi_number }} {% trans 'Tooman' %} - برای حضور از آغاز تا پایان بازدید در کنار مشتری</p>
                                                <!-- TS -->
                                                {% elif task.type == 'tds' %}
                                                    <h6 class="font-weight-semibold title-box">{% trans 'Total price: ' %}</h6>
                                                    <p>0/25 درصد مبلغ معامله (اگر فایل از فایل‌های اختصاصی هومبابا است، اطلاعات قیمتی آن از لینک‌های همین صفحه قابل مشاهده است)</p>
                                                {% endif %}
                                            </div>

                                            <!-- Commission & Fee -->
                                            <div style="margin: 1.2em 0;">
                                                <h6 class="font-weight-semibold title-box">{% trans 'Hombaba Commission: ' %}</h6>
                                                {% if task.type == 'tds' %}
                                                    <p>10 درصد از مبلغ بالا</p>
                                                {% else %}
                                                    <p>15 درصد از مبلغ کمیسیون دریافتی</p>
                                                {% endif %}
                                            </div>

                                            <!-- Request status -->
                                            <div class="pt-4 pb-4">
                                                {% if task.is_requested == 'fre' %}
                                                    <span class="small font-weight-semibold mb-2 d-block">{{ task.get_is_requested_display }} - گام 1 از 3</span>
                                                    <div class="progress rounded-pill" style="height: 5px;width: 100%;">
                                                        <div class="progress-bar bg-teal-500" role="progressbar" style="width: 33%; background-color: #00A65C;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                {% elif task.is_requested == 'pen' %}
                                                    <span class="small font-weight-semibold mb-2 d-block">{{ task.get_is_requested_display }} - گام 2 از 3</span>
                                                    <div class="progress rounded-pill" style="height: 5px;width: 100%;">
                                                        <div class="progress-bar bg-teal-500" role="progressbar" style="width: 66%; background-color: #FFA726;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                {% elif task.is_requested == 'tkn' %}
                                                    <span class="small font-weight-semibold mb-2 d-block">{{ task.get_is_requested_display }} - گام 3 از 3</span>
                                                    <div class="progress rounded-pill" style="height: 5px;width: 100%;">
                                                        <div class="progress-bar bg-teal-500" role="progressbar" style="width: 99%; background-color: grey" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                {% endif %}
                                            </div>

                                            <!-- Apply -->
                                            {% if agent_user.complete_info == 'cmp' %}
                                                <div class="d-flex align-items-center" style="margin-top: 20px; float: left">
                                                    {% if task.is_requested == 'tkn' %}
                                                        <button class="btn btn-primary" style="padding: 5px 45px; line-height: 2.5em;!important; background-color: grey; border:none; cursor: not-allowed;">
                                                            <span>{% trans 'Apply' %} (فعلا غیر قعال)</span>
                                                        </button>
                                                    {% elif task.is_requested == 'pen' %}
                                                        <button class="btn btn-primary" style="padding: 5px 45px; line-height: 2.5em;!important; background-color: #FFA726; border:none; cursor: not-allowed;">
                                                            <span>{% trans 'Apply' %} (فعلا غیر قعال)</span>
                                                        </button>
                                                    {% else %}
                                                        <button id="applyButton" class="btn btn-primary" style="padding: 5px 45px; line-height: 2.5em;!important;">
                                                            <span>{% trans 'Apply' %}</span>
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            {% elif agent_user.complete_info == 'ipr' %}
                                                <div class="d-flex align-items-center" style="margin-top: 20px; float: left">
                                                    <a class="btn btn-primary" style="padding: 5px 45px; line-height: 2.5em;!important; background-color: #FFA726; border:none; cursor: not-allowed;">
                                                        <span>برای ثبت درخواست، منتظر تعیین وضعیت حساب کاربری خود باشید</span>
                                                    </a>
                                                </div>
                                            {% elif agent_user.complete_info == 'dnt' %}
                                                <div class="d-flex align-items-center" style="margin-top: 20px; float: left">
                                                    <a href="{% url 'agent_profile_info_now' %}" class="btn btn-primary" style="padding: 5px 45px; line-height: 2.5em;!important; background-color: grey; border:none;">
                                                        <span>برای ثبت درخواست، ابتدا اطلاعات حساب کاربری خود را تکمیل نمایید</span>
                                                    </a>
                                                </div>
                                            {% endif %}

                                            <div class="d-flex align-items-center" style="margin-top: 20px; float: left;!important;">
                                                <form method="post" novalidate>
                                                    {% csrf_token %}
                                                    {{ form }}
                                                    <button id="applyForm" type="submit" class="btn btn-primary" style="padding: 5px 45px; display: none; line-height: 2.5em;!important;"><span>{% trans 'If you are sure, click!' %}</span></button>
                                                </form>
                                            </div>
                                            <script>
                                                document.getElementById('applyButton').addEventListener('click', function() {
                                                    var applyButton = document.getElementById('applyButton');
                                                    var applyForm = document.getElementById('applyForm');
                                                    if (applyForm.style.display === 'none') {
                                                        applyForm.style.display = 'block';
                                                        applyButton.style.display = 'none';
                                                    } else {
                                                        applyForm.style.display = 'none';
                                                    }
                                                });
                                            </script>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end: Items -->

                </div>
            </div>
        </div>
    </div>

{% endblock %}


