{% extends '_base_profile.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load widget_tweaks %}

{% block title %}{% trans 'Agent Request' %}{% endblock %}


{% block content %}
    {% if user.is_agent == 'nt' %}
    <div class="nk-block">
        <div class="card card-bordered">
            <div class="card-aside-wrap">

                <div class="card-inner card-inner-lg ">
                    <!-- Title -->
                    <div class="nk-block-head nk-block-head-lg">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h4 class="nk-block-title">{% trans 'Hombaba Partner Agent' %}</h4>
                                <div class="nk-block-des">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Title -->

                    <!-- Items -->
                    <div class="nk-block">
                        <div class="nk-data data-list">

                            {% if user.is_verified == 'a' %}
                                <div class="data-col">
                                    <span class="data-value" style="font-size: large">
                                        برای ثبت درخواست همکاری با هومبابا به عنوان مشاور، فرم زیر را تکمیل نمایید.
                                    </span>
                                </div>
                                <!-- Form -->
                                <form method="post" class="px-3 form-style-two" style="margin-top: 4em;" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <div class="row">
                                        <!-- Experience -->
                                        <div class="col-sm-4 mb-md-4 pb-3">
                                            <label for="{{ form.experience.id_for_label }}" class="form-label form-label-lg">{% trans 'What is your agent experience?' %}</label>
                                            {% render_field form.experience type="text" id="experience" class="form-control form-control-xl" %}
                                            {% if form.experience.errors %}
                                                {% for error in form.experience.errors %}
                                                    <p style="color: red; margin-top: 0.8em; font-size: 0.9em;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>

                                        <!-- Introduction -->
                                        <div class="col-sm-4 mb-md-4 pb-3">
                                            <label for="{{ form.introduction_way.id_for_label }}" class="form-label form-label-lg">{% trans 'What is your introduction way?' %}</label>
                                            {% render_field form.introduction_way type="text" id="introduction_way" class="form-control form-control-xl" %}
                                            {% if form.introduction_way.errors %}
                                                {% for error in form.introduction_way.errors %}
                                                    <p style="color: red; margin-top: 0.8em; font-size: 0.9em;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>

                                        <!-- Course -->
                                        <div class="col-sm-4 mb-md-4 pb-3 ">
                                            <label for="{{ form.course_tendency.id_for_label }}" class="form-label form-label-lg">{% trans 'Do you want our course?' %}</label>
                                            {% render_field form.course_tendency type="number" id="course_tendency" class="form-control form-control-xl" %}
                                            {% if form.course_tendency.errors %}
                                                {% for error in form.course_tendency.errors %}
                                                    <p style="color: red; margin-top: 0.8em; font-size: 0.9em;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="text-end py-md-3">
                                        <button type="submit" class="btn btn-lg btn-primary px-md-4 mt-lg-3">
                                            <span class="px-md-3">{% trans 'Submit' %}</span>
                                        </button>
                                    </div>
                                </form>
                                <!-- end: Form -->
                            {% elif user.is_verified == 'i' %}
                                <div class="data-col">
                                    <span class="data-value" style="font-size: large">
                                        لطفا تا زمان تعیین وضعیت حساب کاربری خود منتظر بمانید.
                                    </span>
                                </div>
                                <div class="data-col" style="margin-top: 1em;">
                                    <span class="data-value" style="font-size: large">
                                        پس از تایید حساب می‌توانید درخواست همکاری خود را ثبت نمایید.
                                    </span>
                                </div>
                            {% elif user.is_verified == 'n' %}
                                <div class="data-col">
                                    <span class="data-value" style="font-size: large">
                                        برای ثبت درخواست همکاری با هومبابا به عنوان مشاور، ابتدا باید حساب کاربری خود را تایید کنید.
                                    </span>
                                </div>
                                <div class="data-col" style="margin-top: 1em;">
                                    <span class="data-value" style="font-size: large">
                                            برای این منظور به لینک زیر بروید:
                                    </span>
                                </div>
                                <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit" style="direction: ltr; margin-top: 1.5em">
                                    <a href="{% url 'profile_info_auth' %}" class="btn btn-round btn-xl btn-primary" style="background-color: #00a65c; border: #00A65C; padding-left: 2em; padding-right: 2em;">{% trans 'Verify Account' %}</a>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <!-- end: Items -->
                </div>

            </div>
        </div>
    </div>
    {% elif user.is_agent == 'wt' %}
        <h3 style="text-align: center; margin-top: 5em">درخواست همکاری شما دریافت شده و در حال بررسی است</h3>
        <div style="margin-top: 3em; text-align: center;">
            <span>لطفا تا زمان تعیین نتیجه آن منتظر بمانید. پس از تایید درخواست، می‌توانید کار خود را به عنوان مشاور در هومبابا آغاز نمایید.</span>
        </div>
    {% elif user.is_agent == 'is' %}
        <h3 style="text-align: center; margin-top: 5em">شما مشاور همکار هومبابا هستید.</h3>
        <div style="margin-top: 3em; text-align: center;">
            <span>برای مشاهده فرصت‌های کاری و درآمدزایی، به لینک زیر بروید.</span>
        </div>
        <div class="data-item center" data-bs-toggle="modal" data-bs-target="#profile-edit" style="direction: ltr; margin-top: 2.5em">
            <a href="{% url 'agent_task_list' %}" class="btn btn-round btn-xl btn-primary" style="background-color: #00a65c; border: #00A65C; padding-left: 2em; padding-right: 2em;">{% trans 'Tasks List' %}</a>
        </div>
    {% endif %}
{% endblock %}


