{% extends '_base_profile.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load widget_tweaks %}

{% block title %}{% trans 'My Services' %}{% endblock %}

{% block content %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card rounded-12 shadow-dark-80">

                    <!-- Top ribbon -->
                    <div class="d-flex align-items-center px-3 px-md-4 py-3">

                        <!-- Title -->
                        <h5 class="card-header-title mb-0 ps-md-2 font-weight-semibold">{% trans 'Counselings' %}</h5>

                        <!-- Filters -->
                        <div class="dropdown export-dropdown ms-auto pe-md-2">
                            <a href="#" role="button" id="Sources" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-outline-dark border-gray-700 text-gray-700 px-3">
                                <span>امروز </span>
                                <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                                    <rect data-name="Icons/Tabler/Chevron Down background" width="13" height="13" fill="none"/>
                                    <path d="M.214.212a.738.738,0,0,1,.952-.07l.082.07L7.1,5.989a.716.716,0,0,1,.071.94L7.1,7.011l-5.85,5.778a.738.738,0,0,1-1.034,0,.716.716,0,0,1-.071-.94l.071-.081L5.547,6.5.214,1.233A.716.716,0,0,1,.143.293Z" transform="translate(13 3.25) rotate(90)" fill="#495057"/>
                                </svg>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Sources">
                                <li><a class="dropdown-item" href="#"><span>امروز</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>دیروز</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>7 روز گذشته</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>این ماه</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>ماه گذشته</span></a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"><svg data-name="icons/tabler/calendar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                    <rect data-name="Icons/Tabler/Calendar background" width="16" height="16" fill="none"/>
                                    <path d="M2.256,16A2.259,2.259,0,0,1,0,13.743V3.9A2.259,2.259,0,0,1,2.256,1.641H3.282V.616A.615.615,0,0,1,4.507.532l.005.084V1.641H9.846V.616A.615.615,0,0,1,11.071.532l.006.084V1.641H12.1A2.259,2.259,0,0,1,14.359,3.9v9.846A2.259,2.259,0,0,1,12.1,16ZM1.231,13.743a1.027,1.027,0,0,0,1.025,1.026H12.1a1.027,1.027,0,0,0,1.026-1.026V7.795H1.231Zm11.9-7.179V3.9A1.027,1.027,0,0,0,12.1,2.872H11.077V3.9a.616.616,0,0,1-1.226.084L9.846,3.9V2.872H4.513V3.9a.615.615,0,0,1-1.225.084L3.282,3.9V2.872H2.256A1.026,1.026,0,0,0,1.231,3.9V6.564Z" transform="translate(1)" fill="#495057"/>
                                </svg><span class="ms-2">سفارشی</span></a></li>
                            </ul>
                        </div>

                    </div>

                    <!-- Main >>> counselings -->
                    <div class="table-responsive mb-0">
                        <table class="table card-table table-nowrap overflow-hidden">

                            <thead>
                                <tr>
                                    <th style="text-align: center; width: 5%">{% trans 'Row' %}</th>
                                    <th style="text-align: center; width: 25%">{% trans 'Date' %}</th>
                                    <th style="text-align: center; width: 25%">{% trans 'Name' %}</th>
                                    <th style="text-align: center; width: 25%">{% trans 'Type' %}</th>
                                    <th style="text-align: center; width: 20%">{% trans 'Status' %}</th>
                                </tr>
                            </thead>

                            <tbody class="list">
                                {% for counseling in counselings %}
                                    <tr>
                                        <td style="text-align: center; width: 5%">{{ forloop.counter }}</td>
                                        <td style="font-size: 0.9em; text-align: center; width: 25%">{{ counseling.get_date_display }}</td>
                                        <td style="font-size: 0.9em; text-align: center; width: 25%">{{ counseling.name_and_family }}<span class="badge bg-teal-50 text-teal-500"></span></td>
                                        <td style="font-size: 0.9em; text-align: center; width: 25%">{{ counseling.get_counseling_type_display }}</td>
                                        <td style="font-size: 0.9em; text-align: center; width: 20%">{{ counseling.get_status_display }}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                      </table>
                    </div>

                    <!--  Main >>> counselings >>> see all -->
                    <div class="d-flex align-items-center p-3 p-md-4 border-top border-gray-200">
                        <a href="#" class="my-1 tiny font-weight-semibold mx-auto btn btn-link link-dark">مشاهده همه
                            <svg class="ms-1" data-name="icons/tabler/chevron right" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 16 16">
                                <rect data-name="Icons/Tabler/Chevron Right background" width="16" height="16" fill="none"></rect>
                                <path d="M.26.26A.889.889,0,0,1,1.418.174l.1.086L8.629,7.371a.889.889,0,0,1,.086,1.157l-.086.1L1.517,15.74A.889.889,0,0,1,.174,14.582l.086-.1L6.743,8,.26,1.517A.889.889,0,0,1,.174.36Z" transform="translate(4)" fill="#1e1e1e"></path>
                            </svg>
                        </a>
                    </div>

                    <!--------------------------------------------------------------------------------------------->

                    <!-- Top ribbon -->
                    <div class="d-flex align-items-center px-3 px-md-4 py-3">

                        <!-- Title -->
                        <h5 class="card-header-title mb-0 ps-md-2 font-weight-semibold">{% trans 'Sessions' %}</h5>

                        <!-- Filters -->
                        <div class="dropdown export-dropdown ms-auto pe-md-2">
                            <a href="#" role="button" id="Sources" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-outline-dark border-gray-700 text-gray-700 px-3">
                                <span>امروز </span>
                                <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                                    <rect data-name="Icons/Tabler/Chevron Down background" width="13" height="13" fill="none"/>
                                    <path d="M.214.212a.738.738,0,0,1,.952-.07l.082.07L7.1,5.989a.716.716,0,0,1,.071.94L7.1,7.011l-5.85,5.778a.738.738,0,0,1-1.034,0,.716.716,0,0,1-.071-.94l.071-.081L5.547,6.5.214,1.233A.716.716,0,0,1,.143.293Z" transform="translate(13 3.25) rotate(90)" fill="#495057"/>
                                </svg>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Sources">
                                <li><a class="dropdown-item" href="#"><span>امروز</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>دیروز</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>7 روز گذشته</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>این ماه</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>ماه گذشته</span></a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"><svg data-name="icons/tabler/calendar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                    <rect data-name="Icons/Tabler/Calendar background" width="16" height="16" fill="none"/>
                                    <path d="M2.256,16A2.259,2.259,0,0,1,0,13.743V3.9A2.259,2.259,0,0,1,2.256,1.641H3.282V.616A.615.615,0,0,1,4.507.532l.005.084V1.641H9.846V.616A.615.615,0,0,1,11.071.532l.006.084V1.641H12.1A2.259,2.259,0,0,1,14.359,3.9v9.846A2.259,2.259,0,0,1,12.1,16ZM1.231,13.743a1.027,1.027,0,0,0,1.025,1.026H12.1a1.027,1.027,0,0,0,1.026-1.026V7.795H1.231Zm11.9-7.179V3.9A1.027,1.027,0,0,0,12.1,2.872H11.077V3.9a.616.616,0,0,1-1.226.084L9.846,3.9V2.872H4.513V3.9a.615.615,0,0,1-1.225.084L3.282,3.9V2.872H2.256A1.026,1.026,0,0,0,1.231,3.9V6.564Z" transform="translate(1)" fill="#495057"/>
                                </svg><span class="ms-2">سفارشی</span></a></li>
                            </ul>
                        </div>

                    </div>

                    <!-- Main >>> sessions -->
                    <div class="table-responsive mb-0">
                        <table class="table card-table table-nowrap overflow-hidden">

                            <thead>
                                <tr>
                                    <th style="text-align: center; width: 5%">{% trans 'Row' %}</th>
                                    <th style="text-align: center; width: 25%">{% trans 'Date' %}</th>
                                    <th style="text-align: center; width: 25%">{% trans 'Name' %}</th>
                                    <th style="text-align: center; width: 25%">{% trans 'Type' %}</th>
                                    <th style="text-align: center; width: 20%">{% trans 'Status' %}</th>
                                </tr>
                            </thead>

                            <tbody class="list">
                                {% for session in sessions %}
                                    <tr>
                                        <td style="text-align: center; width: 5%">{{ forloop.counter }}</td>
                                        <td style="font-size: 0.9em; text-align: center; width: 25%">{{ session.get_date_display }}</td>
                                        <td style="font-size: 0.9em; text-align: center; width: 25%">{{ session.name_and_family }}<span class="badge bg-teal-50 text-teal-500"></span></td>
                                        <td style="font-size: 0.9em; text-align: center; width: 25%">{{ session.get_customer_type_display }}</td>
                                        <td style="font-size: 0.9em; text-align: center; width: 20%">{{ session.get_status_display }}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                      </table>
                    </div>

                    <!--  Main >>> sessions >>> see all -->
                    <div class="d-flex align-items-center p-3 p-md-4 border-top border-gray-200">
                        <a href="#" class="my-1 tiny font-weight-semibold mx-auto btn btn-link link-dark">مشاهده همه
                            <svg class="ms-1" data-name="icons/tabler/chevron right" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 16 16">
                                <rect data-name="Icons/Tabler/Chevron Right background" width="16" height="16" fill="none"></rect>
                                <path d="M.26.26A.889.889,0,0,1,1.418.174l.1.086L8.629,7.371a.889.889,0,0,1,.086,1.157l-.086.1L1.517,15.74A.889.889,0,0,1,.174,14.582l.086-.1L6.743,8,.26,1.517A.889.889,0,0,1,.174.36Z" transform="translate(4)" fill="#1e1e1e"></path>
                            </svg>
                        </a>
                    </div>

                    <!--------------------------------------------------------------------------------------------->

                    <!-- Top ribbon -->
                    <div class="d-flex align-items-center px-3 px-md-4 py-3">

                        <!-- Title -->
                        <h5 class="card-header-title mb-0 ps-md-2 font-weight-semibold">{% trans 'Visits' %}</h5>

                        <!-- Filters -->
                        <div class="dropdown export-dropdown ms-auto pe-md-2">
                            <a href="#" role="button" id="Sources" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-outline-dark border-gray-700 text-gray-700 px-3">
                                <span>امروز </span>
                                <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                                    <rect data-name="Icons/Tabler/Chevron Down background" width="13" height="13" fill="none"/>
                                    <path d="M.214.212a.738.738,0,0,1,.952-.07l.082.07L7.1,5.989a.716.716,0,0,1,.071.94L7.1,7.011l-5.85,5.778a.738.738,0,0,1-1.034,0,.716.716,0,0,1-.071-.94l.071-.081L5.547,6.5.214,1.233A.716.716,0,0,1,.143.293Z" transform="translate(13 3.25) rotate(90)" fill="#495057"/>
                                </svg>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Sources">
                                <li><a class="dropdown-item" href="#"><span>امروز</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>دیروز</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>7 روز گذشته</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>این ماه</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>ماه گذشته</span></a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"><svg data-name="icons/tabler/calendar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                    <rect data-name="Icons/Tabler/Calendar background" width="16" height="16" fill="none"/>
                                    <path d="M2.256,16A2.259,2.259,0,0,1,0,13.743V3.9A2.259,2.259,0,0,1,2.256,1.641H3.282V.616A.615.615,0,0,1,4.507.532l.005.084V1.641H9.846V.616A.615.615,0,0,1,11.071.532l.006.084V1.641H12.1A2.259,2.259,0,0,1,14.359,3.9v9.846A2.259,2.259,0,0,1,12.1,16ZM1.231,13.743a1.027,1.027,0,0,0,1.025,1.026H12.1a1.027,1.027,0,0,0,1.026-1.026V7.795H1.231Zm11.9-7.179V3.9A1.027,1.027,0,0,0,12.1,2.872H11.077V3.9a.616.616,0,0,1-1.226.084L9.846,3.9V2.872H4.513V3.9a.615.615,0,0,1-1.225.084L3.282,3.9V2.872H2.256A1.026,1.026,0,0,0,1.231,3.9V6.564Z" transform="translate(1)" fill="#495057"/>
                                </svg><span class="ms-2">سفارشی</span></a></li>
                            </ul>
                        </div>

                    </div>

                    <!-- Main >>> visits -->
                    <div class="table-responsive mb-0">
                        <table class="table card-table table-nowrap overflow-hidden">

                            <thead>
                                <tr>
                                    <th style="text-align: center; width: 5%">{% trans 'Row' %}</th>
                                    <th style="text-align: center; width: 25%">{% trans 'Date' %}</th>
                                    <th style="text-align: center; width: 25%">{% trans 'Name' %}</th>
                                    <th style="text-align: center; width: 25%">{% trans 'City' %}</th>
                                    <th style="text-align: center; width: 20%">{% trans 'Status' %}</th>
                                </tr>
                            </thead>

                            <tbody class="list">
                                {% for visit in visits %}
                                    <tr>
                                        <td style="text-align: center; width: 5%">{{ forloop.counter }}</td>
                                        <td style="font-size: 0.9em; text-align: center; width: 25%">{{ visit.get_date_display }}</td>
                                        <td style="font-size: 0.9em; text-align: center; width: 25%">{{ visit.name_and_family }}<span class="badge bg-teal-50 text-teal-500"></span></td>
                                        <td style="font-size: 0.9em; text-align: center; width: 25%">{{ visit.get_city_display }}</td>
                                        <td style="font-size: 0.9em; text-align: center; width: 20%">{{ visit.get_status_display }}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                      </table>
                    </div>

                    <!--  Main >>> visits >>> see all -->
                    <div class="d-flex align-items-center p-3 p-md-4 border-top border-gray-200">
                        <a href="#" class="my-1 tiny font-weight-semibold mx-auto btn btn-link link-dark">مشاهده همه
                            <svg class="ms-1" data-name="icons/tabler/chevron right" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 16 16">
                                <rect data-name="Icons/Tabler/Chevron Right background" width="16" height="16" fill="none"></rect>
                                <path d="M.26.26A.889.889,0,0,1,1.418.174l.1.086L8.629,7.371a.889.889,0,0,1,.086,1.157l-.086.1L1.517,15.74A.889.889,0,0,1,.174,14.582l.086-.1L6.743,8,.26,1.517A.889.889,0,0,1,.174.36Z" transform="translate(4)" fill="#1e1e1e"></path>
                            </svg>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

