{% extends '_base_profile.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load shamsi_date %}
{% load number_converter %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}{% trans 'My Investments' %}{% endblock %}


{% block two_buttons %}
    <div class="nk-content " style="padding: 0;!important;">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body" style="padding-top: 0;!important; padding-bottom: 0;!important;">
                    <div class="nk-block-head nk-block-head-sm" style="padding-top: 0;!important; padding-bottom: 0;!important;">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <ul class="nk-block-tools g-3" style="margin-bottom: 2px;!important;">
                                    <li class="nk-block-tools-opt">
                                        <a href="{% url 'sale_file_create' %}" class="btn btn-primary" style="line-height: 2.5em;!important;"><em class="icon ni ni-plus"></em><span>ثبت آگهی فروش</span></a>
                                    </li>
                                    <li class="nk-block-tools-opt">
                                        <a href="{% url 'rent_file_create' %}" class="btn btn-primary" style="line-height: 2.5em;!important;"><em class="icon ni ni-plus"></em><span>ثبت آگهی اجاره</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {% for case_order in case_orders %}
            <div class="col-12 col-xxl-6 mb-4">
                <div class="card rounded-12 shadow-dark-80">

                    <div class="card-body px-0 pb-0">

                        <!-- Case code -->
                        <div class="d-flex align-items-center border-bottom border-gray-200 pb-3 px-3 px-md-4">
                            <span style="font-weight: bold;" class="ps-ms-2 font-weight-semibold text-gray-700 fs-16">{% trans 'Case Code: ' %}{{ case_order.code }}</span>
                        </div>

                        <!-- Case data -->
                        <div class="list-group">

                            <!-- Case -->
                            <div class="px-3 px-md-4 py-3 border-bottom border-gray-200">
                                <div class="row px-md-2">
                                    <div class="col">
                                        <span class="ps-ms-2 font-weight-semibold text-gray-700 fs-16">{% trans 'Case Title: ' %}</span>
                                    </div>
                                    <div class="col-auto">
                                        {% for item in case_order.item.all %}
                                            <div style="text-align: left;!important;">
                                                <a href="{{ item.case.get_absolute_url }}" class="text-gray-700 fs-16" style="color: #00a65c; font-weight: bold; font-size: 0.9em;!important;">{{ item.case.title }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                              </div>
                            </div>

                            <!-- Meter -->
                            <div class="px-3 px-md-4 py-3 border-bottom border-gray-200">
                                <div class="row px-md-2">
                                    <div class="col">
                                        <span class="ps-ms-2 font-weight-semibold text-gray-700 fs-16">{% trans 'Meter: ' %}</span>
                                    </div>
                                    <div class="col-auto">
                                        {% for item in case_order.item.all %}
                                            <div style="text-align: left;!important;"><span class="text-gray-700 fs-16" style="font-size: 0.9em;!important;">{{ item.meter }} {% trans 'Metr' %}</span></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <!-- Price -->
                            <div class="px-3 px-md-4 py-3 border-bottom border-gray-200">
                                <div class="row px-md-2">
                                    <div class="col">
                                        <span class="ps-ms-2 font-weight-semibold text-gray-700 fs-16">{% trans 'Total Price: ' %}</span>
                                    </div>
                                    <div class="col-auto">
                                        <span class="text-gray-700 fs-16">{{ case_order.get_total_price|intcomma:False|farsi_number }} {% trans 'Tooman' %}</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Datetime -->
                            <div class="px-3 px-md-4 py-3 border-bottom border-gray-200">
                                <div class="row px-md-2">
                                    <div class="col">
                                        <span class="ps-ms-2 font-weight-semibold text-gray-700 fs-16">{% trans 'Datetime: ' %}</span>
                                    </div>
                                    <div class="col-auto">
                                        <span class="text-gray-700 fs-16">{{ case_order.datetime_created|shamsi_date }}</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Status -->
                            <div class="px-3 px-md-4 py-3 border-bottom border-gray-200">
                                <div class="row px-md-2">
                                    <div class="col">
                                        <span class="ps-ms-2 font-weight-semibold text-gray-700 fs-16">{% trans 'Status: ' %}</span>
                                    </div>
                                    <div class="col-auto">
                                        <span class="text-gray-700 fs-16">{{ case_order.get_status_display }}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

