{% extends '_base_profile.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load widget_tweaks %}

{% block title %}{% trans 'Profile update' %}{% endblock %}

{% block content %}
    {% if user.is_verified == 'a' %}

        <div class="nk-block">
            <div class="card card-bordered">
                <div class="card-aside-wrap">

                    <div class="card-inner card-inner-lg">

                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">{% trans 'Send the information' %}</button>
                        </form>
                        <!-- Title -->
                        <div class="nk-block-head nk-block-head-lg">
                            <div class="nk-block-between">
                                <div class="nk-block-head-content">
                                    <h4 class="nk-block-title">{% trans 'Personal information' %}</h4>
                                    <div class="nk-block-des">
                                        <p></p>
                                    </div>
                                </div>
                                <div class="nk-block-head-content align-self-start d-lg-none">
                                    <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                                </div>
                            </div>
                        </div>
                        <!-- end: Title -->

                        <!-- Items -->
                        <div class="nk-block">
                            <div class="nk-data data-list">

                                <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                    <div class="data-col">
                                        <span class="data-label" style="font-size: large">{% trans 'Phone number' %}</span>
                                        <span class="data-value" style="font-size: large">{{ user.phone_number }}</span>
                                    </div>
                                </div>

                                <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                    <div class="data-col">
                                        <span class="data-label" style="font-size: large">{% trans 'Account status' %}</span>
                                        <span class="data-value" style="font-size: large; color: #db4646">{% trans 'Not completed' %}</span>
                                    </div>
                                </div>

                                <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit" style="direction: ltr; margin-top: 1.5em">
                                    <a href="{% url 'profile_info_auth' %}" class="btn btn-round btn-xl btn-primary" style="background-color: #00a65c; border: #00A65C; padding-left: 2em; padding-right: 2em;">{% trans 'Complete the information' %}</a>
                                </div>

                            </div>

                        </div>
                        <!-- end: Items -->
                    </div>

                </div>
            </div>
        </div>

    {% else %}
        <h3 style="text-align: center; margin-top: 5em">در حال حاضر به این امکان دسترسی ندارید</h3>
        <div style="margin-top: 3em; text-align: center;"><span>ابتدا باید حساب کاربری خود را از بخش "تایید حساب کاربری" در منو کناری، تایید کنید.</span></div>
    {% endif %}
{% endblock %}

