{% extends '_base.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load i18n %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}{% trans 'Blog' %}{% endblock %}

{% block content %}

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80 ptb-md--60 pb-sm--55">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="user-dashboard-tab flex-column flex-md-row">
                            <div class="user-dashboard-tab__head nav flex-md-column" role="tablist" aria-orientation="vertical">
                                <button type="button" class="nav-link active" data-bs-toggle="tab" role="tab" data-bs-target="#dashboard" aria-controls="dashboard" aria-selected="true">داشبورد</button>
                                <button type="button" class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#orders" aria-controls="orders" aria-selected="true">سفارشات</button>
                                <button type="button" class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#downloads" aria-controls="downloads" aria-selected="true">دانلودها</button>
                                <button type="button" class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#addresses" aria-controls="addresses" aria-selected="true">آدرس ها</button>
                                <button type="button" class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#accountdetails" aria-controls="accountdetails" aria-selected="true">جزئیات حساب</button>
                                <a type="button" class="nav-link" href="login-register.html">خروج</a>
                            </div>


                            <div class="user-dashboard-tab__content tab-content">

                                <div class="tab-pane fade show active" id="dashboard">
                                    <p>سلام <strong>جلیل سرور</strong> (نه <strong>جلیل سرور</strong>؟ <a href="login-register.html">خروج</a>)</p>
                                    <p>از داشبورد حساب شما. به راحتی می توانید بررسی کنید &amp; خود را مشاهده کنید <a href="">سفارشات اخیر</a>, خود را مدیریت کنید<a href="">آدرس های حمل و نقل و صورتحساب</a> and <a href="">رمز عبور و جزئیات حساب خود را ویرایش کنید</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->



    <!-- Blog list -->
    <main class="main-content-wrapper">
        <div class="inner-page-content ptb--80 ptb-md--60">

            <!-- Category selection -->

            <!-- end: Category selection -->

            <!-- Blogs -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">

                            {% for post in blog %}
                                <div class="col-lg-6 mb--50">
                                    <article class="blog format-standard">
                                        <div class="blog__inner">
                                            <div class="blog__media">
                                                <figure class="image">
                                                    <a href="{{ post.get_absolute_url }}"><img src="{{ post.cover.url }}" alt="Blog Image" class="w-100"></a>
                                                </figure>
                                            </div>
                                            <div class="blog__info">
                                                <h2 class="blog__title" style="color: black; font-size: 1.2em"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                                                <div class="blog__meta">
                                                    <span class="posted-on">{% trans 'Group' %}: {{ post.blog_category }}</span>
                                                </div>
                                                <div class="blog__meta">
                                                    <span class="posted-on">{{ post.date_time_creation }}</span>
                                                    <span class="posted-by"><span> | {% trans 'Writer' %}:</span>{{ post.author }}</span>
                                                </div>
                                                <div class="blog__desc"></div>
                                                <a href="{{ post.get_absolute_url }}" class="read-more-btn">{% trans 'More' %}</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}

                        </div>

                        <!-- Pagination -->
                        <div class="pagination-wrap">
                            <ul class="pagination" style="direction: rtl">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page=1" class="page-number" style="width: 5em; background-color: #ff5151; color: #ffffff; border-radius: 0.5em;">&laquo; {% trans 'The First' %}</a></li>
                                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-number" style="width: 5em; background-color: #ff5151; color: #ffffff; border-radius: 0.5em;">{% trans 'Previous' %}</a></li>
                                {% endif %}

                                <li style="width: 3em; text-align: center; line-height: 2.5em"><span style="color: #373737; border-radius: 0.5em;">{{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</span></li>

                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-number" style="width: 5em; background-color: #ff5151; color: #ffffff; border-radius: 0.5em;">{% trans 'Next' %}</a></li>
                                    <li><a href="?page={{ page_obj.paginator.num_pages }}" class="page-number" style="width: 5em; background-color: #ff5151; color: #ffffff; border-radius: 0.5em;">{% trans 'The Last' %} &raquo;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- end: Pagination -->

                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end: Blog list -->

{% endblock %}
