{% extends '_base_services.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load widget_tweaks %}
{% load user_filters %}


{% block title %}{% trans 'Agent Information Completion' %}{% endblock %}

{% block content %}

    <main class="flex-grow bg-secondary-light pb-14 pt-36 dark:bg-primary-dark xs:pt-36" style="background-color: transparent">
        <div class="container pb-14">
            <div class="grid grid-cols-12 gap-2 lg:gap-6">

                <!-- Completion top ribbon  -->
                <div class="col-span-12 rounded-lg bg-primary-light dark:bg-secondary-dark">
                    <ol class="grid grid-cols-1 overflow-hidden rounded-lg">
                        <li class="flex flex-col items-center justify-center gap-2 bg-tertiary-500/10 p-4 text-xs text-tertiary-500 dark:bg-tertiary-400/10 dark:text-tertiary-400 sm:text-sm md:text-base" style="background-color: #00A65C;">
                            <p class="leading-none" style="font-size: 1.3em; color: #fefeff; font-weight: bold">{% trans 'Agent Information Completion' %}</p>
                        </li>
                  </ol>
                </div>
                <!-- end: Completion top ribbon -->

                <!-- Completion  -->
                <div class="col-span-12 md:col-span-12">
                    <div class="rounded-lg bg-primary-light p-4 dark:bg-secondary-dark">
                        <div class="col-span-5 md:col-span-3">
                            <div class="grid grid-cols-1 items-center gap-6 mt-2">

                                <form method="post">
                                    {% csrf_token %}

                                    <!-- Fields -->
                                    <div class="col-span-2 md:col-span-1" style="margin-top: 5em; margin-bottom: 3em;">

                                        <!-- f_name -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.f_name.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'First Name: ' %}
                                            </span>
                                            {% render_field form.f_name type="text" name="f_name" id="f_name" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- l_name -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.l_name.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Last Name: ' %}
                                            </span>
                                            {% render_field form.l_name type="text" name="l_name" id="l_name" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- sex -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.sex.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Sex: ' %}
                                            </span>
                                            {% render_field form.sex type="text" name="sex" id="sex" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- national code -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.national_code.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'National Code: ' %}
                                            </span>
                                            {% render_field form.national_code type="number" name="national_code" id="national_code" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- email -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.email.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Email: ' %}
                                            </span>
                                            {% render_field form.email type="text" name="email" id="email" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- fixed phone number -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.fixed_phone_number.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Fixed Phone Number: ' %}
                                            </span>
                                            {% render_field form.fixed_phone_number type="number" name="fixed_phone_number" id="fixed_phone_number" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- province -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.province.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Province: ' %}
                                            </span>
                                            {% render_field form.province type="text" name="province" id="province" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- city -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.city.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'City: ' %}
                                            </span>
                                            {% render_field form.city type="text" name="city" id="city" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- postal code -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.postal_code.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Postal Code: ' %}
                                            </span>
                                            {% render_field form.postal_code type="number" name="postal_code" id="postal_code" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- address -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.address.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Address: ' %}
                                            </span>
                                            {% render_field form.address type="text" name="address" id="address" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- national card -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.national_card.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'National Card: ' %}
                                            </span>
                                            {% render_field form.national_card type="file" name="national_card" id="national_card" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- auth pic -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.auth_picture.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Authentication Picture: ' %}
                                            </span>
                                            {% render_field form.auth_picture type="file" name="auth_picture" id="auth_picture" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- bank card -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.bank_card.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Bank Card: ' %}
                                            </span>
                                            {% render_field form.bank_card type="file" name="bank_card" id="bank_card" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- bank sheba -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.bank_sheba.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Bank Sheba: ' %}
                                            </span>
                                            {% render_field form.bank_sheba type="text" name="bank_sheba" id="bank_sheba" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- experience -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.experience.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Agent Experience: ' %}
                                            </span>
                                            {% render_field form.experience type="text" name="experience" id="experience" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- course tendency -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.course_tendency.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Did you have course tendency? ' %}
                                            </span>
                                            {% render_field form.course_tendency type="text" name="course_tendency" id="course_tendency" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                        <!-- introduction_way -->
                                        <label style="margin-bottom: 3em;!important;" for="{{ form.introduction_way.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span style="font-size: large;" class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'How do you introduce to Hombaba? ' %}
                                            </span>
                                            {% render_field form.introduction_way type="text" name="introduction_way" id="introduction_way" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>

                                    </div>
                                    <!-- end: Fields -->

                                    {% if form.errors %}
                                        <div class="form-errors">
                                            <ul>
                                                {% for field in form %}
                                                    {% if field.errors %}
                                                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if form.non_field_errors %}
                                                    <li>{{ form.non_field_errors|striptags }}</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    <!-- Submit -->
                                    <div class="col-span-2 flex justify-end">
                                        <button style="padding: 1em 2.5em;!important;" type="submit" class="btn-primary w-full px-4 py-2 md:w-auto">{% trans 'Register in Homebia' %}</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Completion  -->

            </div>
        </div>
    </main>

{% endblock %}




