{% extends '_base.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}

{% block title %}Services{% endblock %}

{% block content %}

        <!-- Homebia services -->
        <section class="banner-area mb--75 mb-md--55" style="margin-top: 10em;">
            <div class="container">

                <!-- Title -->
                <div class="row mb--35 mb-md--23">
                    <div class="col-12 text-center">
                        <h2 style="font-size: 40px; color: #003379">خدمات هومبیا</h2>
                    </div>
                </div>

                <!-- Services -->
                <div class="row" style="margin-right: 0">

                    <!-- Files -->
                    <div class="col-lg-4 offset-lg-12 offse" style="margin-right: 0;!important;">
                        <div class="banner banner-info-right-center mb--30">
                            <div class="banner__inner">
                                <figure class="banner__image">
                                    <img src="{% static 'main/img/cards/shpping_files.png' %}" alt="Banner">
                                </figure>
                                <a href="{% url 'home' %}" class="banner__link"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Cases -->
                    <div class="col-lg-4 offset-lg-12 offse" style="margin-right: 0;!important;">
                        <div class="banner banner-info-right-center mb--30">
                            <div class="banner__inner">
                                <figure class="banner__image">
                                    <img src="{% static 'main/img/cards/money_cases.png' %}" alt="Banner">
                                </figure>
                                <a href="{% url 'home' %}" class="banner__link"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Counseling -->
                    <div class="col-lg-4 offset-lg-12 offse" style="margin-right: 0;!important;">
                        <div class="banner banner-info-right-center mb--30">
                            <div class="banner__inner">
                                <figure class="banner__image">
                                    <img src="{% static 'main/img/cards/help-counseling.png' %}" alt="Banner">
                                </figure>
                                <a href="{% url 'counseling' %}" class="banner__link"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Session -->
                    <div class="col-lg-4 offset-lg-12 offse" style="margin-right: 0;!important;">
                        <div class="banner banner-info-right-center mb--30">
                            <div class="banner__inner">
                                <figure class="banner__image">
                                    <img src="{% static 'main/img/cards/wheelchair-session.png' %}" alt="Banner">
                                </figure>
                                <a href="{% url 'session' %}" class="banner__link"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Visit -->
                    <div class="col-lg-4 offset-lg-12 offse" style="margin-right: 0;!important;">
                        <div class="banner banner-info-right-center mb--30">
                            <div class="banner__inner">
                                <figure class="banner__image">
                                    <img src="{% static 'main/img/cards/eye_visit.png' %}" alt="Banner">
                                </figure>
                                <a href="{% url 'visit' %}" class="banner__link"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Course -->
                    <div class="col-lg-4 offset-lg-12 offse" style="margin-right: 0;!important;">
                        <div class="banner banner-info-right-center mb--30">
                            <div class="banner__inner">
                                <figure class="banner__image">
                                    <img src="{% static 'main/img/cards/book_course.png' %}" alt="Banner">
                                </figure>
                                <a href="{% url 'home' %}" class="banner__link"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- end: Homebia services -->

{% endblock %}



