{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load widget_tweaks %}


<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/line-awesome.min.css' %}">

    <!-- Fav -->
    <link rel="shortcut icon" href="{% static 'main/img/logos/ho-fav.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'main/img/logos/ho-fav.png' %}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <!-- Preloader Start -->
    <div class="ft-preloader active">
        <div class="ft-preloader-inner h-100 d-flex align-items-center justify-content-center">
            <div class="ft-child ft-bounce1"></div>
            <div class="ft-child ft-bounce2"></div>
            <div class="ft-child ft-bounce3"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Main -->
    <div class="wrapper">

        <!-- Main content -->
        <main class="main-content-wrapper">

            {% block content %}

            {% endblock %}

            <!-- Footer will be here! -->

        </main>
        <!-- end: Main content -->

    </div>
    <!-- end: Main -->


    <!-- JS -->
    <script src="{% static 'main/js/vendor-1.js' %}"></script>
    <script src="{% static 'main/js/main-1.js' %}"></script>

</body>

</html>


