{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load widget_tweaks %}


<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/line-awesome.min.css' %}">

    <!-- Fav -->
    <link rel="shortcut icon" href="{% static 'main/img/logos/ho-fav.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'main/img/logos/ho-fav.png' %}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <!-- Preloader Start -->
    <div class="ft-preloader active">
        <div class="ft-preloader-inner h-100 d-flex align-items-center justify-content-center">
            <div class="ft-child ft-bounce1"></div>
            <div class="ft-child ft-bounce2"></div>
            <div class="ft-child ft-bounce3"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Main -->
    <div class="wrapper">

        <!-- Header -->
        <header class="header">
            <div class="header__inner fixed-header">
                <div class="header__main">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="header__main-inner" style="padding-top: 0;!important; padding-bottom: 0;!important;">

                                    <!-- Logo -->
                                    <div class="header__main-left" style="margin-right: 0.5em;">
                                        <div class="logo">
                                            <a href="{% url 'home' %}" class="logo--normal">
                                                <img src="{% static 'main/img/logos/ho-logo-1.png' %}" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- end: Logo -->

                                    <!-- Menu -->
                                    <div class="header__main-center">
                                        <nav class="main-navigation text-center d-none d-lg-block" style="padding-right: 0.1em;">
                                            <ul class="mainmenu">

                                                <li class="mainmenu__item menu-item-has-children" style="padding-left: 40px;">
                                                    <a href="{% url 'home' %}" class="mainmenu__link">
                                                        <span class="mm-text" style="font-weight: bold;">خانه</span>
                                                    </a>
                                                </li>

                                                <li class="mainmenu__item menu-item-has-children">
                                                    <a href="{% url 'services' %}" class="mainmenu__link"><span class="mm-text" style="font-weight: bold;">خدمات</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item-has-children" style="margin-bottom: 1em;"><a href="{% url 'counseling' %}"><span class="mm-text" style="font-weight: bold;">مشاوره</span></a></li>
                                                        <li class="menu-item-has-children" style="margin-bottom: 1em;"><a href="{% url 'session' %}"><span class="mm-text" style="font-weight: bold;">حضور در نشست</span></a></li>
                                                        <li class="menu-item-has-children"><a href="{% url 'visit' %}"><span class="mm-text" style="font-weight: bold;">حضور در بازدید</span></a></li>
                                                    </ul>
                                                </li>

                                                <li class="mainmenu__item menu-item-has-children">
                                                    <a href="{% url 'home' %}" class="mainmenu__link">
                                                        <span class="mm-text" style="font-weight: bold;">فایل‌ها</span>
                                                    </a>
                                                </li>

                                                <li class="mainmenu__item menu-item-has-children">
                                                    <a href="{% url 'home' %}" class="mainmenu__link">
                                                        <span class="mm-text" style="font-weight: bold;">سرمایه‌گذاری</span>
                                                    </a>
                                                </li>

                                                <li class="mainmenu__item menu-item-has-children">
                                                    <a href="http://127.0.0.1:8000/admin" class="mainmenu__link"><span class="mm-text" style="font-weight: bold;">خدمات</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item-has-children" style="margin-bottom: 1em;"><a href="{% url 'blog_list' %}"><span class="mm-text" style="font-weight: bold;">بلاگ هومبیا</span></a></li>
                                                        <li class="menu-item-has-children" style="margin-bottom: 1em;"><a href="{% url 'home' %}"><span class="mm-text" style="font-weight: bold;">تماس با ما</span></a></li>
                                                        <li class="menu-item-has-children" style="margin-bottom: 1em;"><a href="{% url 'home' %}"><span class="mm-text" style="font-weight: bold;">درباره ما</span></a></li>
                                                        <li class="menu-item-has-children"><a href="{% url 'home' %}"><span class="mm-text" style="font-weight: bold;">شبکه‌های اجتماعی ما</span></a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- end: Menu -->

                                    <!-- Registration -->
                                    <div class="header__main-right">
                                        <div class="header-toolbar-wrap">
                                            <div class="header-toolbar">

                                                {% if user.is_authenticated %}
                                                    <a href="{% url 'profile_info_now' %}" class="btn btn-outline btn-size-md btn-color-primary btn-shape-round btn-hover-2" style="margin-left: 0.5em;">پروفایل کاربری</a>
                                                    <div class="header-toolbar__item d-block d-lg-none">
                                                        <a href="#offcanvasMenu" class="header-toolbar__btn toolbar-btn menu-btn">
                                                            <div class="hamburger-icon">
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <a href="{% url 'registration' %}" class="btn btn-outline btn-size-md btn-color-primary btn-shape-round btn-hover-2" style="margin-left: 0.5em;">ورود / ثبت نام</a>
                                                    <div class="header-toolbar__item d-block d-lg-none">
                                                        <a href="#offcanvasMenu" class="header-toolbar__btn toolbar-btn menu-btn">
                                                            <div class="hamburger-icon">
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end: Registration -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end: Header -->


        <!-- Main content -->
        <main class="main-content-wrapper">

            {% block content %}

            {% endblock %}

            <!-- Footer will be here! -->

        </main>
        <!-- end: Main content -->


        <!-- Hamburger menu -->
        <div class="offcanvas-menu-wrapper" id="offcanvasMenu">
            <div class="offcanvas-menu-inner">
                <a href="" class="btn-close" style="left: 11px;"><span>x</span></a>

                <nav class="offcanvas-navigation">
                    <ul class="offcanvas-menu">

                        <li class="menu-item-has-children active">
                            <a href="{% url 'home' %}">خانه</a>
                        </li>

                        <li class="menu-item-has-children">
                            <a href="{% url 'services' %}">خدمات</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children">
                                    <a href="{% url 'counseling' %}">
                                        <span class="mm-text">مشاوره</span>
                                    </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'session' %}">حضور در نشست</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'visit' %}">حضور در بازدید</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item-has-children">
                            <a href="{% url 'home' %}">فایل‌ها</a>
                        </li>

                        <li class="menu-item-has-children">
                            <a href="#">سرمایه‌گذاری</a>
                        </li>

                        <li class="menu-item-has-children">
                            <a href="http://127.0.0.1:8000/admin">پنل مدیریت</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children">
                                    <a href="{% url 'home' %}">
                                        <span class="mm-text">بلاگ</span>
                                    </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'home' %}">تماس با ما</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'home' %}">درباره ما</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'home' %}">شبکه‌های اجتماعی ما</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>

            </div>
        </div>
        <!-- end: Hamburger menu -->


    </div>
    <!-- end: Main -->


    <!-- JS -->
    <script src="{% static 'main/js/vendor-1.js' %}"></script>
    <script src="{% static 'main/js/main-1.js' %}"></script>
    <script src="{% static 'main/js/reply-buttons.js' %}"></script>

</body>

</html>


