{% extends '_base_services.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load widget_tweaks %}


{% block title %}Counseling{% endblock %}

{% block content %}

    <main class="flex-grow bg-secondary-light pb-14 pt-36 dark:bg-primary-dark xs:pt-36">
        <div class="container pb-14">
            <div class="grid grid-cols-12 gap-2 lg:gap-6">

                <!-- top ribbon  -->
                <div class="col-span-12 rounded-lg bg-primary-light dark:bg-secondary-dark">
                    <ol class="grid grid-cols-2 overflow-hidden rounded-lg">
                        <li class="flex flex-col items-center justify-center gap-2 bg-tertiary-500/10 p-4 text-xs text-tertiary-500 dark:bg-tertiary-400/10 dark:text-tertiary-400 sm:text-sm md:text-base">
                            <p class="leading-none" style="font-size: 1.2em">ثبت درخواست مشاوره</p>
                        </li>
                        <li class="flex flex-col items-center justify-center gap-2 p-4 text-xs text-tertiary-500 opacity-50 dark:text-tertiary-400 sm:text-sm md:text-base">
                            <p class="leading-none" style="font-size: 1.2em">جزئیات درخواست مشاوره</p>
                        </li>
                  </ol>
                </div>
                <!-- end: top ribbon -->

                <!-- main counseling form  -->
                <div class="col-span-12 md:col-span-12">
                    <div class="rounded-lg bg-primary-light p-4 dark:bg-secondary-dark">

                        <div class="col-span-5 md:col-span-3">
                            <div class="grid grid-cols-1 items-center gap-6 mt-2">
                                <form method="post">
                                    {% csrf_token %}

                                    <!-- Counseling type -->
                                    <div class="col-span-2 md:col-span-1 mt-2">
                                        <label for="{{ form.counseling_type.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                              انتخاب نوع مشاوره
                                            </span>
                                            {% render_field form.counseling_type type="text" id="name" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>
                                    </div>

                                    <!-- Customer type -->
                                    <div class="col-span-2 md:col-span-1">
                                        <label for="{{ form.customer_type.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                انتخاب نوع کاربر
                                            </span>
                                            {% render_field form.customer_type type="text" id="number" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>
                                    </div>

                                    <!-- Date -->
                                    <div class="col-span-2 md:col-span-1">
                                        <label for="{{ form.date.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                تعیین تاریخ مشاوره
                                            </span>
                                            {% render_field form.date type="text" id="number" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>
                                    </div>

                                    <!-- Time -->
                                    <div class="col-span-2 md:col-span-1">
                                        <label for="{{ form.time.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                تعیین زمان مشاوره
                                            </span>
                                            {% render_field form.time class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>
                                    </div>

                                    <!-- Name -->
                                    <div class="col-span-2 md:col-span-1">
                                        <label for="{{ form.name_and_family.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                نام و نام خانوادگی
                                            </span>
                                            {% render_field form.name_and_family type="text" id="number" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>
                                    </div>

                                    <!-- Phone Number -->
                                    <div class="col-span-2 md:col-span-1">
                                        <label for="{{ form.phone_number.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-12">
                                            <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                شماره تلفن همراه
                                            </span>
                                            {% render_field form.phone_number type="text" id="number" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>
                                    </div>

                                    <!-- Submit -->
                                    <div class="col-span-2 flex justify-end">
                                        <button type="submit" class="btn-primary w-full px-4 py-2 md:w-auto">ثیت درخواست مشاوره</button>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end: main counseling form  -->

            </div>
        </div>
    </main>

{% endblock %}


